.config/calcurse/apts
.config/calcurse/todo
.config/cmus/*
.config/mpv/encoding.rst
.config/mpv/ref-input.conf
.config/mpv/restore-old-bindings.conf
.config/transmission-daemon/stats.json
.config/nvim/plugin/
.local/share/nvim/site/pack/packer/start/*
.local/share/nvim/mason/
.local/bin/pyi*
deemix
f2py
f2py3
f2py3.10
mid3cp
mid3iconv
mid3v2
moggsplit
mutagen-inspect
mutagen-pony
normalizer
.config/transmission-daemon/dht.dat
