/*
 * Change the colorscheme for every menu simply by editing this file...
 *
 * Available Color Schemes
 *
 * bluish    berry    nordic    nightly    gotham    mask    faded    cocoa
 *
 */

* {
    background:                     #00000000;
    background-alt:              	#00000000;
    selected:                 #f2f2f215;
    foreground:                     #f2f2f2EE;
    accent:			            	#3DAEE966;
}
